.DS_Store
.env
.env.*
rclone.conf
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.rollup.cache
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
.aidigestignore
codebase.md
package-lock.json
yarn.lock
softwarepatterns-*
